doctype html
html
  head
    //fonts
    link(href="https://fonts.googleapis.com/css?family=Quicksand|Give+You+Glory" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet")
    script(defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js")
    //bootstrap
    link( rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    //jquery
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    //preprocessed styles
    link(rel="stylesheet" type="text/css" href="/style.css")
    script(src="/public/js/index.js")
  body
    div#app.container-fluid
      div.row
        div.col-0.col-md-3
        div#quote-div.bgA.col-12.col-md-6 
          div.overlay
            p#quote-text
              | <span class="quote-char qc-left text-left">" </span>
              | <span id="quote-target">Take a spin!</span><br>
              | <span id="author-target">Programming by Dmitri Bilyk</span><br>
              | <span class="quote-char qc-right text-right">"</span>
      div.row
        div.col-0.col-md-3
        div.col-12.col-md-6
          a#new-quote.btn.text-center
            i.fas.fa-redo-alt 
          a(href="#")#twitter-post.btn.text-center
            i.fab.fa-twitter